body {
    font-size: 28px;
    width: 100vw;
    height: 100vh;
    background-color:deepskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header {
    font-size: 36px;
    text-align: center;
    height: auto;
    background-color: grey;
    border: 2px solid darkgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game-board {
    background-color: lightblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.game-board > div {
    display: flex;
    gap: 1px;
}

input[type='button'] {
    background-color: lightgrey;
    border: 2px solid darkgrey;
    border-radius: 5px;
    height: 40px;
    font-size: 28px;
}

.cell {
    width: min(80vw, 3vh);
    height: min(80vw, 3vh);
    background-color: skyblue;
    border: 2px solid deepskyblue;
    flex: 1 1 auto;
}

.cell.ship {
    background-color: grey;
}

.cell.hidden {
    background-color: skyblue;
}

.cell.attacked {
    background-color: yellow;
}

.cell.attacked.ship {
    background-color: red;
}
